@media screen and (min-width: 1024px) {
	div.drawer {
		display:inline-block;
		opacity: 1;
		position: static;
		box-shadow:0 0 4px -2px rgba(0,0,0,0.5);
		flex-grow:1;
	}
	div.drawer[data-slide-in-dir="right"],
	div.drawer[data-slide-in-dir="left"] {
		transform: translateX(0);
	}
	article#main {
		flex-grow:2;
	}
	body {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.menuToggle {
		display: none;
	}
}

html {
	height: 100%;
	font-size: 1em;
	line-height: 1.5em;
}
body {
	background:#ddd;
	color: #222;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
body, input {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
					"Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
					Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.25);
}

header,
#main section {
	padding:0 1rem;
}

#main {
	height: 100%;
	background: #fff;
}
#main header {
	background:#0062a5;
	color:#fff;
}
header .menuToggle {
	margin-right: 0.5em;
	cursor: pointer;
	font-weight:normal;
}
header h1 { 
	font-size:1rem;
	line-height:3.5rem;
	display:inline-block; 
	margin:0; 
	font-weight:normal;
}

.drawer {
	height: 100%;
	width: 90%;
 	opacity: 0.75;
	max-width:320px;
	position: absolute;
	top: 0;
	background: #fff;
	color:#333;
	z-index: 100;
	transition: all 0.5s;
}
.drawer[data-slide-in-dir="right"] {
	transform: translateX(-100%);
	left: 0;
}
.drawer[data-slide-in-dir="left"] {
	transform: translateX(100%);
	right: 0;
}
.drawer header {
	background:#eee;
	color:#555;
}
.drawer.visible {
	opacity: 1;
	box-shadow:0 0 4px rgba(0,0,0,0.5);
	transform: translateX(0);
}
#main::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background: rgba(0,0,0,0);
	z-index: 10;
	transition: background .2s;
}
.drawer.visible ~ #main::before {
	width: 100%;
	background: rgba(0,0,0,0.5);
}
.drawer.flyoff ~ #main::before {
	background: rgba(0,0,0,0);
}

nav ul {
	margin: 0.5em 0; 
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}
nav li {	
	transition: background 0.5s;
	padding: 0.2em 1em;
}
nav li:hover {
	background-color:#f6f6f6;
}
nav li a {
	display: block;
	line-height: 2.6em;
	text-decoration: none;
	color: #222;
}

.drawer[data-slide-in-dir="right"].flyoff {
	animation: flyoff-left 0.25s;
	-webkit-animation: flyoff-left 0.25s;
}
.drawer[data-slide-in-dir="left"].flyoff {
	animation: flyoff-right 0.25s;
	-webkit-animation: flyoff-right 0.25s;
}

@keyframes flyoff-left {
	100% {
		transform: translateX(-100%);
	}
}
@-webkit-keyframes flyoff-left {
	100% {
		transform: translateX(-100%);
	}
}

@keyframes flyoff-right {
	100% {
		transform: translateX(100%);
	}
}
@-webkit-keyframes flyoff-right {
	100% {
		transform: translateX(100%);
	}
}